@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: 255 255 255;
  --fg: 17 24 39;
  --muted: 107 114 128;
  --card: 255 255 255;
  --border: 229 231 235;
}

.dark{
  --bg: 17 24 39;
  --fg: 243 244 246;
  --muted: 156 163 175;
  --card: 31 41 55;
  --border: 55 65 81;
}

html,body{
  height: 100%;
}

body{
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

*{ -webkit-tap-highlight-color: transparent; }
